<!DOCTYPE html>
<html lang="en">

<%- include("templates/header") %>

    <body>

        <div class="has-text-centered my-6">
            <p class="is-size-1">¿Está seguro que desea <span class="has-text-weight-bold"
                    style="color: rgb(243, 232, 33);">Editar</span><span> al usuario</span>
            </p>
            <p class="is-size-3 has-text-weight-bold" style="color: rgb(25, 0, 255);">
                <%=user.user_name %><span class="has-text-weight-normal is-size-1" style="color:black"> ?</span>
            </p>
        </div>

        <div class="columns is-centered mt-5">

            <div class="column is-one-quarter has-background-white py-4 px-4 box is-rounded">
                <form class="colum is-centered" method="" action="" novalidate>
                    <p class="help is-danger" id="empty_inputs_message"></p>

                    <div class="mb-3">
                        <label for="" class="is-size-7 is-uppercase has-text-grey-darker has-text-weight-bold">
                            ID</label>
                        <div class="control has-icons-left has-icons-right">
                            <input type="text" class="input is-fullwidth has-padding-small mt-1" placeholder="Nombre"
                                value="<%=user.user_id  %>" id="id_input" disabled />
                            <span class="icon is-small is-left">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="" class="is-size-7 is-uppercase has-text-grey-darker has-text-weight-bold">
                            Nombre</label>
                        <div class="control has-icons-left has-icons-right">
                            <input type="text" class="input is-fullwidth has-padding-small mt-1" placeholder="Nombre"
                                name="user_name" value="<%=user.user_name %>" id="user_name_input" />
                            <span class="icon is-small is-left">
                                <i class="fas fa-user" id=""></i>
                            </span>
                            <p class="help is-danger" id="user_name_message"></p>
                        </div>

                    </div>
                    <div class="mb-3">
                        <label for="" class="is-size-7 is-uppercase has-text-grey-darker has-text-weight-bold">
                            Email</label>
                        <div class="control has-icons-left has-icons-right">
                            <input type="email" class="input is-fullwidth has-padding-small mt-1" placeholder="Email"
                                name="" id="user_email_input" value="<%=user.user_email %>" />
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope" id=""></i>
                            </span>
                        </div>
                        <p class="help is-danger has-text-weight-bold" id="email_message"></p>
                    </div>

                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" id="edit_password_cb">
                                Editar contraseña
                            </label>
                        </div>
                    </div>

                    <div id="password_field" style="display: none;">
                        <div class="mb-3">
                            <label for="" class="is-size-7 is-uppercase has-text-grey-darker has-text-weight-bold">
                                Contraseña</label>
                            <div class="control has-icons-left has-icons-right">
                                <input type="password" class="input is-fullwidth has-padding-small mt-1"
                                    placeholder="******" name="" id="user_password_input">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock" id=""></i>
                                </span>
                            </div>
                            <p class="help is-danger" id="password_message"></p>
                        </div>

                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" id="show_password_cb">
                                    Ver contraseña
                                </label>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="" class="is-size-7 is-uppercase has-text-grey-darker has-text-weight-bold">
                                Repetir Contraseña</label>
                            <div class="control has-icons-left has-icons-right">
                                <input type="password" class="input is-fullwidth has-padding-small mt-1"
                                    placeholder="******" name="repetir_password" id="repeat_user_password_input">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock" id=""></i>
                                </span>
                                <p class="help is-danger" id="repeat_password_message"></p>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" id="show_password_cb2">
                                    Ver contraseña
                                </label>
                            </div>
                        </div>

                    </div>



                    <div class="field is-grouped is-grouped-right mt-5">
                        <div class="control">
                            <a class="button is-danger is-outlined" href="/users/dashboard">Cancelar</a>
                        </div>
                        <div class="control">
                            <button class="button is-link is-outlined" type="button" id="send_btn">Editar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal" id="myModal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">

                    <div class="has-text-centered my-6">
                        <p class="is-size-1">Se ha <span class="has-text-weight-bold">Modificado</span> correctamente el
                            usuario</p>
                        <p class="is-size-3 has-text-weight-bold" style="color: rgb(25, 0, 255);">
                            <%=user.user_name %>
                        </p>
                    </div>

                    <div class="columns is-centered">
                        <div class="column is-one-third">
                            <div class="card">
                                <div class="card-content">
                                    <div class="content">
                                        <div class="is-flex justify-center">
                                            <a class="button is-primary is-light is-fullwidth"
                                                onclick="locationReplace()">Aceptar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <p>Es este archivo</p>
    </body>
    <script src="<%= base_url %>../js/editar_user.js"></script>

</html>