<!DOCTYPE html>
<html lang="en">

<%- include("templates/header") %>

    <body>
        <%- include("templates/navbar") %>

            <div class="hero is-fullheight ">
                <article class="panel is-link mt-6 ml-6 mr-6">
                    <p class="panel-heading mb-1">
                        Usuarios Registrados
                        <a class="button is-warning is-pulled-right is-small has-text-weight-bold" href="/users/user/nuevo">+ Nuevo Usuario</a>
                    </p>

                    <!--Búsqueda-->
                    <form>
                        <div class="panel-block">
                            <p class="control has-icons-left">
                                <input class="input is-link" type="text" id="searchTerm"
                                    placeholder="Buscar por email" />
                                <span class="icon is-left">
                                    <i class="fas fa-search" aria-hidden="true"></i>
                                </span>
                            </p>
                            <p class="control">
                                <button class="button is-link ml-1" type="button"
                                    onclick="searchUsers()">Buscar</button>
                            </p>
                        </div>
                    </form>
                    <div class="panel-block has-text-weight-bold ">
                        <p class="control px-2">
                            ID
                        </p>
                        <p class="control px-2">
                            Nombre
                        </p>
                        <p class="control px-2">
                            Email
                        </p>
                        <p class="control px-2">
                            Editar / Eliminar
                        </p>

                    </div>
                    <div id="lista-usuarios" class=" ">
                        <%users.forEach(user=> { %>
                            <div class="panel-block">
                                <p class="control px-2">
                                    <%=user.user_id %>
                                </p>
                                <p class="control px-2">
                                    <%=user.user_name %>
                                </p>
                                <p class="control px-2">
                                    <%=user.user_email %>
                                </p>
                                <p class="control px-2">
                                    <a
                                        class="button is-small is-responsive is-warning is-outlined fas fa-pencil-alt"
                                        href=""
                                        ></a>
                                    <a
                                        class="button is-small is-responsive is-danger is-outlined fas fa-trash-alt"
                                        href="/users/delete/<%= user.user_id  %>"></a>
                                </p>
                            </div>
                            <% });%>
                    </div>
                </article>

                <!--

<table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Email</th>
                             Otros campos de usuario
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach((user)=> { %>
                            <tr>
                                <td>
                                    <%= user.user_name %>
                                </td>
                                <td>
                                    <%= user.user_email %>
                                </td>
                                Otros campos de usuario 
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
-->



            </div>





    </body>
    <script src="<%= base_url %>../js/dashboard.js"></script>

</html>